# Dependencies
node_modules/
npm-debug.log*

# Git
.git/
.gitignore

# IDE
.vscode/
.github/

# Build scripts
build.sh

# Kubernetes configs
kubernetes/

# AWS
aws-user-data.sh

# Documentation
README.md
LICENSE
