<hr>
<figure class="text-center">
    <blockquote class="blockquote">
        <p class="text-primary-emphasis"></p>
        <figcaption class="blockquote-footer">
            <cite title="Source Title"> Power By Agonzalezo Version 0.3
                <br>
                The more you learn, the more you realize how much you don't know.
            </cite>
        </figcaption>
    </blockquote>
</figure>
</body>

</html>