apiVersion: apps/v1
kind: Deployment
metadata:
  name: versioner
  namespace: xylon
  labels:
    microservice: versioner
spec:
  replicas: 4
  selector:
    matchLabels:
      microservice: versioner
  template:
    metadata:
      labels:
        microservice: versioner
        component: appserver
    spec:
      containers:
        - name: versioner
          image: agonzalezo/versioner:latest
          imagePullPolicy: Always
          # command:
          #   - "/usr/bin/tail"
          #   - "-f"
          #   - "/dev/null"
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: versioner
              value: versioner
            - name: APPVERSION
              value: 2.2.2
          resources:
            requests:
              memory: "50Mi"
              cpu: "50m"
            limits:
              memory: "90Mi"
              cpu: "100m"
          readinessProbe:
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 2
            failureThreshold: 3
            httpGet:
              path: /
              port: 3000
