apiVersion: apps/v1
kind: Deployment
metadata:
  name: versioner
  namespace: xylon
  labels:
    microservice: versioner
spec:
  replicas: 4
  selector:
    matchLabels:
      microservice: $API_NAME
  template:
    metadata:
      labels:
        microservice: versioner
        component: appserver
    spec:
      terminationGracePeriodSeconds: 30

      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000

      containers:
        - name: versioner
          image: agonzalezo/versioner:latest
          imagePullPolicy: Always
          # command:
          #   - "/usr/bin/tail"
          #   - "-f"
          #   - "/dev/null"
          ports:
            - name: web
              containerPort: 3000
              protocol: TCP
          env:
            - name: PORT
              value: "3000"
            - name: API_NAME
              value: $API_NAME
            - name: APPVERSION
              value: $APPVERSION
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"

          readinessProbe:
            initialDelaySeconds: 80
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /
              port: web
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 3

          startupProbe:
            httpGet:
              path: /
              port: web
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 12

          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL