name: CD - Deploy Resources to Kubernetes

on:
  workflow_call:
    inputs:
      api_name:
        required: true
        type: string
        default: versioner
        description: Nombre del deployment y service en Kubernetes
      namespace:
        required: false
        type: string
        default: xylon

env:
  API_NAME: ${{ inputs.api_name }}
  NAME_SPACE: ${{ inputs.namespace }}

jobs:
  deploy_to_kubernetes:
    name: Deploy to Kubernetes
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3 
      - name: Deploy ${{ inputs.api_name }} Service
        run: kubectl apply -f kubernetes/01-Service.yml
      - name: Deploy ${{ inputs.api_name }} Deployment
        run: kubectl apply -f kubernetes/11-Deployment.yml
      # - name: Deploy ${{ inputs.api_name }} HPA
      #   run: kubectl apply -f kubernetes/21-hpa.yml
      - name: Restart Deployments ${{ inputs.api_name }}
        run: kubectl -n xylon rollout restart deployment ${{ inputs.api_name }}
      - name: Check Deployment ${{ inputs.api_name }} Status
        run: kubectl -n xylon rollout status deployment ${{ inputs.api_name }}